In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [4]:
fb = pd.read_csv('data/facebook.csv',index_col = 'Date')
fb.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

## Estimation of the average stock return with 90% confidence interval

In [6]:
# Log return for average stock return
fb['logReturn'] = np.log(fb['Close'].shift(-1)) - np.log(fb['Close'])

In [7]:
# 90% confidence interval for log return
sample_size = fb.shape[0]
sample_mean = fb['logReturn'].mean()
sample_std = fb['logReturn'].std(ddof=1) / sample_size**0.5

# left and right quantile
z_left = norm.ppf(0.05)
z_right = norm.ppf(0.95)

# upper and lower bound
interval_left = sample_mean + z_left*sample_std
interval_right = sample_mean + z_right*sample_std

In [8]:
# 90% confidence interval tells you that there will be 90% chance that the average stock return 
# lies between "interval_left" and "interval_right".

print('90% confidence interval is ', (interval_left, interval_right))

90% confidence interval is  (0.0015616478593504692, 0.00451368986698962)

**The average stock return with 90% of confidence will be positive**